# Ignore build directories
/build/
/cmake-build-debug/

# Cache and temp files
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake
*.o
*.obj
*.exe
*.out
*.log

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml